@import "tailwindcss";

@theme {
  --gray-100: #1f2523;
  --gray-200: #4d5c57;
  --gray-300: #cdd5d2;
  --gray-400: #e4ece9;
  --gray-500: #f9fbfa;
  --white: #ffffff;
  --gren-100: #1f8459;
  --gren-200: #2cb178;

  --default-font-family: "Open Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
