@import "tailwindcss";

:root {
  --gray-100: #1f2523;
  --gray-200: #4d5c57;
  --gray-300: #cdd5d2;
  --gray-400: #e4ece9;
  --gray-500: #f9fbfa;
  --white: #ffffff;
  --green-100: #1f8459;
  --green-200: #2cb178;

  --default-font-family: "Open Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--gray-400);
}

.btn-primary {
  background-color: var(--green-100);
  color: var(--white);
}

.icon-refund {
  filter: invert(30%) sepia(50%) saturate(1200%) hue-rotate(100deg)
    brightness(95%);
}
